<div id="main-container">
	<div class="container">
		<p class="title">
			EasyTrack
		</p>
		<p class="subtitle">
			Email and social network message tracking.
		</p>
		<p>
			<%= link_to('Register now »', new_user_registration_path, :class => 'btn btn-primary btn-lg', :id => 'register-button') %>
		</p>
		<p>
			<small>or</small> <%= link_to('Sign in', new_user_session_path, :id => 'home-sign-in') %>
		</p>
	</div>
</div>

<div class="feature-container">
	<div class="container">
		<h2 class="feature-title">
			Simple
		</h2>
		<p class="feature-subtitle">
			Send and track messages with just 3 steps
		</p>
		<div class="row small-feature">
			<div class="col-sm-4">
				<%= image_tag "features/compose.svg" %>
				<h3>Compose</h3>
				<p>Write your message with our full-featured HTML message composer or import HTML written in your favorite text editor.</p>
			</div>
			<div class="col-sm-4">
				<%= image_tag "features/send.svg" %>
				<h3>Send</h3>
				<p>Select the services you want to send to, select the recipients and hit "Send".</p>
			</div>
			<div class="col-sm-4">
				<%= image_tag "features/track.svg" %>
				<h3>Track</h3>
				<p>Track who and when opened your messages in all of the different services you sent your message to, all in one screen.</p>
			</div>
		</div>
	</div>
</div>

<div class="feature-container even">
	<div class="container">
		<h2 class="feature-title">
			Supports your favorite services
		</h2>
		<p class="feature-subtitle">
			Send messages to any of your favorite services, all at the same time. Track your messages in all of them in one screen.
		</p>
		<div class="row small-feature">
			<div class="col-sm-4">
				<%= image_tag "features/email.svg" %>
				<h3>Email</h3>
			</div>
			<div class="col-sm-4">
				<%= image_tag "features/facebook.svg" %>
				<h3>Facebook</h3>
			</div>
			<div class="col-sm-4">
				<%= image_tag "features/twitter.svg" %>
				<h3>Twitter</h3>
			</div>
		</div>
	</div>
</div>
