<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">{{ title }}</h4>
</div>

{{#if message.id}}
<form accept-charset="UTF-8" id="message-form" action="{{route 'update_message_path' message.id}}" class="form-vertical" method="put">
{{else}}
<form accept-charset="UTF-8" id="message-form" action="{{route 'new_message_path'}}" class="form-vertical" method="post">
{{/if}}
	
	<div class="modal-body">
		<input
			class="form-control"
			id="recipients"
			name="message[recipients]"
			placeholder="Recipients"
			type="text"
			value="{{ message.recipients }}"
		/>
		
		<input
			class="form-control"
			id="subject"
			name="message[subject]"
			placeholder="Subject"
			type="text"
			value="{{ message.subject }}"
		/>
					
		<textarea
			class="form-control"
			id="body"
			name="message[body]"
			placeholder="Body"
		>{{ message.body }}</textarea>
	</div>
	
	<div class="modal-footer">
		<button type="submit" class="btn btn-success">Send</button>
		<button type="submit" class="btn btn-primary">Save draft</button>
	</div>
</form>
