<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">{{ title }}</h4>
</div>

{{#if message.id}}
<form accept-charset="UTF-8" id="message-form" action="{{route 'update_message_path' message.id}}" class="form-vertical" method="put">
{{else}}
<form accept-charset="UTF-8" id="message-form" action="{{route 'new_message_path'}}" class="form-vertical" method="post">
{{/if}}
	
	<div class="modal-body">
		<input
			class="form-control"
			id="recipients"
			name="message[recipients]"
			placeholder="Recipients"
			type="text"
			value="{{ message.recipients }}"
			{{#if message.sent_at}}disabled{{/if}}
		/>
		
		<input
			class="form-control"
			id="subject"
			name="message[subject]"
			placeholder="Subject"
			type="text"
			value="{{ message.subject }}"
			{{#if message.sent_at}}disabled{{/if}}
		/>
					
		<textarea
			class="form-control"
			id="body"
			name="message[body]"
			placeholder="Body"
			{{#if message.sent_at}}disabled{{/if}}
		>{{ message.body }}</textarea>
	</div>
	
	{{#unless message.sent_at}}
		<div class="modal-footer">
			<button type="submit" id="send-button" class="btn btn-success ladda-button" data-style="expand-right">
				<span class="ladda-label">Send</span>
			</button>
			<button type="submit" id="save-button" class="btn btn-primary ladda-button" data-style="expand-right">
				<span class="ladda-label">Save draft</span>
			</button>
		</div>
	{{/unless}}
</form>
